* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.checkout_container {
  min-height: 70vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  gap: 10px;
  background-color: rgba(234, 225, 231, 0.464);
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_titulo {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.form_checkout {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.checkout_button {
  width: 150px;
  margin: 5px;
  padding: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.compra_realizada {
  margin: 5px;
  margin-top: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
