* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  /* display: flex; */
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo_nav {
  height: 75px;
  align-items: center;
}
.categorias {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
