.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.logo_nav {
  height: 75px;
  align-items: center;
}
.categorias {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
