* {
  box-sizing: border-box;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
  background-color: rgba(234, 225, 231, 0.464);
}
